requests
socket
time
psutil
string
platform
subprocess
json
uuid
shutil
re
base64
random
sqlite3
pypiwin32      
datetime
wmi
os
pyautogui
tempfile
sys
browser-cookie3
pycryptodome    
ctypes
colorama
pyfiglet
requests
pystyle
discord.py
